@import '../../styles/base/base';

.card {
  align-items: center;
  background: $akaroa;
  border: 4px solid $natural-gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 2em;

  &__button {
    background: $natural-gray;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 900;
    padding: 1em;
  }
}
