@import '../../styles/base/base';
@import '../../styles/mixins//mixins';

$_mongoose: #b59a74;

.warning-message {
  color: $burnt-sienna;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  font-weight: bold;
  margin-top: 18%;
  text-align: center;

  &__shop-btn {
    background: $akaroa;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 0.5em;

    &:hover {
      background: $_mongoose;
    }
  }

  &__link {
    cursor: unset;
  }
}

.cart-wrapper {
  border: 2px solid $natural-gray;
  margin: 2rem 1rem;
  text-align: center;
  padding: 1rem;

  &__header {
    color: $burnt-sienna;
    margin-bottom: 1em;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}

.product-card {
  border: 1px solid $natural-gray;
  margin: 1em 0;
  @include flex-space-around;

  &__price {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }

  &__quantity {
    align-items: center;
    display: flex;
    flex-direction: column;

    &__btn {
      width: 30px;
    }
  }
}
