@import '../../styles/base/base';
@import '../../styles/mixins//mixins';

$_mongoose: #b59a74;

.warning-message {
  color: $burnt-sienna;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  font-weight: bold;
  margin-top: 18%;
  text-align: center;

  &__shop-btn {
    background: $akaroa;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 0.5em;

    &:hover {
      background: $_mongoose;
    }
  }

  &__link {
    cursor: unset;
  }
}

.cart-page {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cart-wrapper {
  align-self: center;
  border: 2px solid $natural-gray;
  margin: 2rem 1rem;
  text-align: center;
  padding: 1rem;

  &__header {
    color: $burnt-sienna;
    margin-bottom: 1em;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}

.order-info {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__total-price {
    font-size: 30px;
    font-weight: bold;
  }

  &__purchase-btn {
    background: $akaroa;
    border: none;
    cursor: pointer;
    font-size: 30px;
    margin: 0.5em;
    padding: 5px 30px;

    &:hover {
      background: $_mongoose;
    }
  }
}

.product-card {
  @include flex-space-around;
  align-self: center;
  border: 1px solid $natural-gray;
  font-size: $size-20;
  margin: 1em 0;
  padding: 2rem 0;
  max-width: 800px;

  @media (max-width: $breakpoint-phone) {
    max-width: 500px;
  }

  & > * {
    @include margin-sides(1em);
  }

  &__name {
    width: 300px;
  }

  &__price {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }

  &__quantity {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 7rem;

    &__button-wrapper {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }

    &__btn {
      background: $akaroa;
      border: none;
      cursor: pointer;
      font-weight: bold;
      width: 30px;

      &:hover {
        background: $_mongoose;
      }
    }
  }
}
