@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin flex-space-around {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

@mixin margin-sides($sides_margin) {
  margin: 0 $sides_margin;
}
