@import '../../styles/base/base';
@import '../../styles//mixins//mixins';

$_main-color-transparent: #eae7dc99;

.navigation {
  align-items: center;
  display: flex;
  justify-content: space-around;
  min-height: 8vh;

  &__logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
  }

  &.--links-wrapper {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 30%;

    @media (max-width: $breakpoint-laptop) {
      width: 50%;
    }

    @media (max-width: $breakpoint-phone) {
      background-color: $_main-color-transparent;
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      @include flex-center;
      flex-direction: column;
      width: 40%;
      transform: translateX(100%);
    }
  }

  &.--link {
    // border: 1px solid $natural-gray;
    color: black;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 3px;
    // padding: 0.5em 2em;

    &:hover {
      background-color: $akaroa;
    }

    @media (max-width: $breakpoint-phone) {
      opacity: 0;
    }
  }

  &__mobile-nav {
    display: none;
    cursor: pointer;

    & div {
      background-color: black;
      width: 25px;
      height: 3px;
      margin: 5px;
    }

    @media (max-width: $breakpoint-phone) {
      display: block;
    }
  }
}

a {
  text-decoration: none;
}

// @media (max-width: $breakpoint-phone) {

// }
