@import '../../styles/base/base';
@import '../../styles//mixins//mixins';

$_main-color-transparent: #eae7dc99;

.navigation {
  align-items: center;
  display: flex;
  justify-content: space-around;
  min-height: 8vh;

  &__logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
  }

  &__links-wrapper {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 30%;

    @media (max-width: $breakpoint-laptop) {
      width: 50%;
    }

    @media (max-width: $breakpoint-phone) {
      background-color: $_main-color-transparent;
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      @include flex-center;
      flex-direction: column;
      width: 40%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }

    &.--active {
      transform: translateX(0%);
    }
  }

  &__link {
    color: black;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 3px;

    &:hover {
      background-color: $akaroa;
    }

    @media (max-width: $breakpoint-phone) {
      opacity: 0;
    }
  }

  &__mobile-nav {
    display: none;
    cursor: pointer;

    @media (max-width: $breakpoint-phone) {
      display: block;
    }

    & div {
      background-color: black;
      width: 25px;
      height: 3px;
      margin: 5px;
    }

    &.--toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }

    &.--toggle .line2 {
      opacity: 0;
    }

    &.--toggle .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
}

a {
  text-decoration: none;
}

@keyframes navigationLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

// .navigation__mobile-nav --toggle {
//   &.line1 {
//     transform: rotate(-45deg) translate(-5px, 6px);
//   }

//   &.line2 {
//     opacity: 0;
//   }

//   &.line3 {
//     transform: rotate(45deg) translate(-5px, -6px);
//   }
// }
