@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$main-font: 'Poppins', sans-serif;
$size-16: 16px;
$size-20: 20px;
$size-22: 22px;

// Colors
// https://visme.co/blog/website-color-schemes/
$satin-linen: #eae7dc;
$akaroa: #d8c3a5;
$natural-gray: #8e8d8a;
$apricot: #e98074;
$burnt-sienna: #e85a4f;
